<div>
  <div class="ui card">
    <div class="content">
      <a class="header">{{movie.name}}</a>
      <div class="meta">
        <span class="date">Movie</span>
      </div>
      <div class="description">
        {{movie.description}}
      </div>
    </div>
    <div>
      <img src={{concat "http://image.tmdb.org/t/p/w185" movie.posterPath}} alt="poster">
    </div>
    <div class="extra content">
      <a>
        <i>Year:</i>
        {{movie.year}}
        <i>Rating:</i>
        {{movie.rating}}
        <i>Language:</i>
        {{movie.language}}
      </a>
    </div>
  </div>
</div>