<div class="clearfix">
  {{#if showPrevPageButton}}
    <a class="ui button" {{action 'prevPage'}}>&lt; Prev</a>
  {{/if}}
  {{#if showNextPageButton}}
    <a class="ui button" {{action 'nextPage'}}>Next &gt;</a>
  {{/if}}
  {{meta.page}} / {{meta.totalPages}}<br>
</div>

<div style="display: flex; flex-flow: wrap; justify-content: space-evenly;">
  {{#each actors as |actor|}}
  <div class="ui card" {{action 'showActor' actor.id}}>
    <div class="content">
      <a class="header">{{actor.name}}</a>
    </div>
    <div>
      <img src={{concat "http://image.tmdb.org/t/p/w342" actor.posterPath}} 
      onerror="this.src='images/anoynmus.jpg', this.style = 'height: 391px; width: 260px;'" alt="poster" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
    </div>
    <div class="extra content">
      <a>
        <i>Popularity: {{actor.popularity}}</i>
      </a>
    </div>
  </div>
  {{/each}}
</div>
<div class="clearfix">
  {{#if showPrevPageButton}}
    <a class="ui button" {{action 'prevPage'}}>&lt; Prev</a>
  {{/if}}
  {{#if showNextPageButton}}
    <a class="ui button" {{action 'nextPage'}}>Next &gt;</a>
  {{/if}}
  pages: {{meta.page}} / {{meta.totalPages}}<br>
</div>